<div class="editor">
  <label class="label">
    Title:
    <br />
    <input class="title" type="text" [(ngModel)]="title" />
  </label>
  <label class="label">
    Image URL:
    <br />
    <input class="title" type="text" [(ngModel)]="image" />
  </label>
  <label class="label">
    Content:
    <br />
    <textarea class="area" [(ngModel)]="content"></textarea>
  </label>
  <button
    class="refresh"
    (click)="addNews()"
    [disabled]="!title || !image || !content"
  >
    Add news
  </button>
</div>
